.ScreenHolder {
    display: flex;
    flex-direction: row;
    border: 1px solid #1E1E1E;
    border-radius: 10px;
    height: 92vh;
    
}

h1, h2, p, ul{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5vh,1em,5em);
}





.CreateButton-Task button:hover {
    transform: scale(1.1,1.1);

}

.CreateButton-Task button {
    border: 1px solid #1E1E1E;
    display: block;
    background-color: transparent;
    color: #1E1E1E;
    border-radius: 10px;
    transition: transform 0.2s;
    
}

li,span{
    list-style: none;
    transition: background-color 0.2s;
    padding: 5px;
}





li:hover:hover{
    background-color: black;

    
}

span {
 float:right;
 margin-left: 20px;

 transform: scale(0.8,0.8);
}

.TaskElement{
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}


.TaskElement li {
    transition: transform 0.1s;
    width: 100%;
}

.TaskElement li:hover {
    transform: scale(1.1,1.1) ;
    background-color: transparent;
}

.Checkbox-unchecked{
    margin-left: "10px";
    cursor: "default";
    border: 1px solid black;
    border-radius: 100px;
    transform: scale(1,1);
    width: 15px;
    height: 10px;
    margin-right: 5%;
}

.Checkbox-checked{
    margin-left: "10px";
    cursor: "default";
    margin-right: 5%;
    border: 1px solid gray;
    background-color: gray;
    border-radius: 100px;
    transform: scale(1,1);
    width: 15px;
    height: 10px;
}

body{
    background-color: #1E1E1E;
}

.TaskElement .DeleteTaskButton {
    margin-left: 10%;
    cursor: pointer;
    float: right;
    transition: transform 0.1s;

}

.TaskElement .DeleteTaskButton:hover {
    transform: scale(1.01,1.01);
    background-color: transparent;
}