.categories-list-item {

    color: white;
    list-style-type: none;
    font-size: 140%;
    cursor: pointer;
    transition: padding 0.2s;
    user-select: none;
    margin-right: 5%;
}

.categories-list-item:hover {

    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}


.tasks-items .list-group{

    
    width: 85%;
    height: 80%;
    overflow-y: auto;
    border: 0px solid red;
}

.tasks-items {

    width:50%;
    height: 100%;
    overflow-y: hidden;
}

.tasks-categories{

    background-color: rgb(15, 15, 15);
    width:50%;
    height: 100%;
    overflow-y: auto;
}

.tasks-container{
    display: flex;
    height: 50vh;
    width: 100vh;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    
}

.tasks-categories h1 {
    color: white;
    padding-left: 5%;
    margin-top: 2%;
    
}

.list-group h1 {

    color: white;
    padding-left: 0px;
    margin-top: -1%;

}

.category-task-holder{
    display: none;
}

