.Tasks {

height: 95vh;
width: 90%;
background-color: white;

border-left: none;
border-radius: 10px;


}





.Tasks .TasksContainer {
    border: 0px solid red;
    height: 35vh;
    overflow: auto;
}

.Tasks ul {
    width: 80%;
    height: 100%;
    margin: 0%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Tasks .Header {
    color:#1E1E1E;
    font-size: 2em;
    padding-left: 2vw;
    padding-top: 1vh;
    
}

.Tasks .Wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 0px solid red;
    height: 100%;
    
}

.Tasks .HorizontalWrapper {

    border:  0px solid red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
